*
{
font-family: 'Open Sans', sans-serif;
}

body {
    /*padding-top: 54px;*/
}

p{
font-size:18px;
color:#777;
line-height:1.5em;}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1 {
color:white;
font-weight:900;
}

h2{
font-size:36px;
font-weight:700;}

h2 span.h2blue{
color:#00B7FC}

span.h2blue:before, span.h2blue:after {
    content:"\A";
    white-space: pre;}

h3.profession{
font-size:16px;
font-weight:700;
color:#777;
}
h4{
font-size:18.8px;
font-weight:700;
}
h4.under-line{
    color: white;
    line-height: 2.5;
    border-bottom: 2px solid;
    display: inline-block;
}
h4>a{color: #FFF !important;text-decoration: none !important;}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
color: #fff;
background-color: #00B7FC;
}

a.nav-link { color:#00B7FC; }
a.nav-link:hover { color:#fff;
background-color:#20336B; }

button{
font-size:16px;
color: #fff;
background-color: #00B7FC;
border:none;
padding:5px 20px;
}
.figure-caption{
    margin: 10px;
    color: #616161;
    font-size: 17px;
    min-height: 50px;
}

a.ctn-btn{color: #fff;
    background-color: #00B7FC;
}
.figure {
    display: inline-block;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
.figureImg{
    height: 25rem;
}
.figureImg h1{
    padding-top: 10rem;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.3;
    display: inline-block;
    font-size: 3rem;
}
.catText{
    border-bottom: 4px solid rgb(244, 51, 61);
}

.foodies{
    background-image:url("./../img/foodies_thumb_opt.jpg");
    background-repeat: no-repeat;
}
.explorers{
    background-image:url("./../img/explorers_thumb_opt.jpg");
    background-repeat: no-repeat;
}
.cultureShapers{
    background-image:url("http://akdesign.in/dev/paytm/img/culture_thumb.jpg");
    background-repeat: no-repeat;
}
.actionSeekers{
    background-image:url("http://akdesign.in/dev/paytm/img/adventure_thumb.jpg");
    background-repeat: no-repeat;
}
.collectors{
    background-image:url("http://akdesign.in/dev/paytm/img/Collectors_thumb.jpg");
    background-repeat: no-repeat;
}
.socializers{
    background-image:url("http://akdesign.in/dev/paytm/img/socializers_thumb.jpg");
    background-repeat: no-repeat;
}
.caption {
    position: absolute;
    top: 35%;
    text-align: center;
    width: 95%;
}
h2 span.h2red {
    color: rgb(244, 51, 61);
}

span.h2red:before, span.h2red:after {
    content:"\A";
    white-space: pre;}

section.py-5{
    padding-top: 1.3rem !important;
    padding-bottom: 1.3rem !important;
}
a:hover {
    text-decoration: none;
}
.custom-select{
    
    background-color: #00B7FC;
    color: #fff;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    
}

option:hover{
    background-color: #20336B;
}
select{color: #fff;}
